#ThemeSelectorMenu {
    position: absolute;
    z-index: 2000;
    right: 40px;
    bottom: 25px;
    left: auto;
    font-family: oswaldregular;
    z-index: 2001;
}

#ThemeSelectorMenu .navbar-brand{
    font-size: 16px;
}

#ThemeSelectorMenu .dropdown-toggle {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#ThemeSelectorMenu .dropdown-menu {
    padding: 0;
    min-width: 120px;
}

#ThemeSelectorMenu .dropdown-menu > li, #ThemeSelectorMenu .dropdown-toggle {
    text-transform: uppercase;
    padding: 10px 0px;
    font-size: 16px;
    color: #3f3f3f;
    padding-top: 13px;
}

#ThemeSelectorMenu .dropdown-menu > li:hover, #ThemeSelectorMenu .dropdown-menu > li > a:focus, #ThemeSelectorMenu .dropdown-toggle {
    color: #23789B;
    text-decoration: none;
    background-color: #fff;
}

#ThemeSelectorMenu .dropdown-menu > li {
    border: 1px solid #d3d3d3;
    min-width: 120px;
    -webkit-transform: translateY(50%) rotateX(90deg);
    -webkit-transition: all .1s ease;
    background-color: #fff;
}

/* Unfurl Up */
#ThemeSelectorMenu li.theme-selector-li-on {
    -webkit-transform: translateY(0%) rotateX(0deg);
}

.dropdown-menu {
    border: 0px;
    border-radius: 0px
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

#ThemeMenu {
    text-align: center;
    background-color: transparent;
}

#ThemeSelectorMenu .menu-selection {
    float: left;
    cursor: pointer;
}

#ThemeSelectorMenu .dropdown-toggle {
    min-width: 120px;
    text-align: center;
}
