<nav ng-controller="ThemeCtrl" id="ThemeSelectorMenu" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="navbar-header">
        <span class="navbar-brand">View by:</span>
    </div>
    <div class="menu-selection">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <span class="dropdown-toggle" data-toggle="dropdown" ng-click="toggleThemeMenu()">
                    {{themeName}}
                </span>
                <ul id="ThemeMenu" class="dropdown-menu">
                    <li ng-click="setTheme('gaul0')">Country</li>
                    <li ng-click="setTheme('gaul1')">District</li>
                    <li ng-click="setTheme('gaul2')">Site</li>

                </ul>
            </li>
        </ul>
    </div>
</nav>